.mainpage {
    background-color: black;
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
}

.main-container {
    margin-left: 200px; 
    padding-top: 20px;
}

#bio {
    justify-content: space-evenly;
}